
:root {
   --light-green: #fdefff;
   --primary-color:#86198f;
}

.header-one{
   color: var(--primary-color);
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0px;
    background-color: var(--light-green);
  }


h1 {
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
}

input, label {
    display: block;
} 

input {
    margin-bottom: 0.5rem;
    width: 100%;
}

#check-number {
    display: block;
    margin-top: 1.3rem;
  
    margin: auto;
background-color: var(--primary-color);
width: 80%;
color: #fdefff;
padding: auto;
padding: 0.6rem 0.5rem;
border-radius: 0.3rem;
border: none;
cursor: pointer;
  font-family: "DM Sans", sans-serif;

}

.space-two{
    padding: 2rem;
}

.space-one{
    padding-bottom: 1rem;
}
.space-top{
    padding-top: 1rem;
}

#output-box{
    width: 90%;
    min-height: 130px;
    padding: 1rem;
  display: flex;
  justify-content: center;
}